html {
    font-size: .7vw;
}

body {
    background: url('../img/background/bg-environmental-3.jpg');
    background-size: cover;
}

.heading-row {
    background: rgba(200,200,200,0.7);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 5px 5px 5px rgba(5, 5, 5, 0.3);
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

.panel {
    background: none;
    overflow: overlay;
}

.display-table tr {
    text-align: center;
    font-size: 1.2rem;
}

.panel.panel-blue > .panel-heading {
    color: #FFFFFF;
    background: #0a819c;
    border-color: #0a819c !important;
    font-family: 'Lobster',cursive;
    font-size: 3rem;
    border-bottom: 2px solid #fff;
    text-shadow: 5px 5px 5px rgba(5,5,5,0.3);
}

.side-navigation {
    height: 100vh;
    color: #fff;
    background: rgba(10,10,10,0.9);
    overflow: auto;
}

.btn-table-control {
    font-size: 1.2rem;
    font-family: 'Pacifico',cursive;
}

.user-interface {
    padding-top: 5%;
    height: 100vh;
    background: rgba(10,10,10,0.5);
}

.icon-bg {
    margin-left: 20px;
}

.menu-icon {
    width: 100%;
}

.menu-title {
    margin-left: 25px;
    color: #fff;
    font-size: 1.5rem;
}

.btn-table-add {
    font-size: 1.5rem;
    border: none;
    font-family: 'Pacifico',cursive;
}

.ng-view-full {
    margin: 0;
}

.control-table-button {
    float: right;
    margin-right: 5px;
    text-align: right;
}

.panel-heading {
    color: #FFFFFF;
    background: #0a819c;
    border-color: #0a819c !important;
}
